
$black-brown: #28282a;
$white: #fff;
$aqua: #5ccbc3;


h1 {
  font-size: 65px;
  font-weight: 500;
}

h2 {
  font-size: 45px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
