@import '../../variables';

.about {
  height: 25%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  div {
    position: relative;
    width: 50%;

    &:nth-of-type(2){
      p {
        padding: 50px;
        max-width: 500px;
        font-size: 25px;
        line-height: 40px;
      }
    }

    img {
      padding-left: 50px;
      width: 80%;
    }
  }
}
