@import '../../variables';

.about {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  div {
    position: relative;
    width: 50%;

    &:nth-of-type(2){
      p {
        padding: 0 20px 10px 20px ;
        max-width: 500px;
        font-size: 2vw;
        line-height: 3vw;
      }
    }

    img {
      padding-left: 50px;
      width: 80%;
    }
  }
}
